body {
    overflow:hidden;
}

.ui-content {
    margin:0; padding:0;
}

#mapArea {
    top: 0px;
    left: 0px;
    margin:0; padding:0;
    width: 100%;
    position: relative;
}

#canvas {
    width: 100%;
    height: 100%;
}

#date {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #0075FF;
	color: white;
	
	width: 180px;
	border:0;
	margin: 0;
	padding:2px;
	font-size: 14px;
	text-align: center;
}

#control {
    margin:0; padding:0;
    width: 100%;
    height: 100%;
    position: relative;
}

#slider-range {
    width: 1000%;
 }

input.ui-slider-input {
    display : none !important;
}

#small {
}

#large {
}
